@charset "utf-8";
/* CSS Document */

.show{ background:url(radio.gif) no-repeat 0 0;width:18px;height:18px; display:inline-block; }
.hide{background:url(radio.gif) no-repeat 0 -18px;width:18px;height:18px; display:inline-block;}


